#### RDBMS- MySQL

## Necessary Modules

In [ ]:
#(** To avoid error ,first uninstall the modules if exists from before. Then install again.)
#pip3 install mysql-connector-python
# pip3 install mysqlclient
# pip3 install ipython-sql
# pip3 install mypy-extensions
# pip3 install SQLAlchemy
# pip3 install PyMySQL

## Creating a database and connecting to it

In [1]:
#Connecting to MySQL database
import mysql.connector as sql
mydb=sql.connect(host="localhost",user="root",passwd="Mahmud")
mycursor = mydb.cursor()

In [ ]:
#Creating a database
mycursor.execute("CREATE DATABASE Problem_set_07")

In [ ]:
#Deleting the database
# mycursor.execute("DROP DATABASE Problem_set_07")

In [2]:
%load_ext sql

In [3]:
#Connecting to the database which was created before
%sql mysql://root:Mahmud@localhost/Problem_set_07

## Schema

![Cat](dataset/schema.png)

## Creating necessary table

In [4]:
%%sql
DROP TABLE IF EXISTS game;
CREATE TABLE game (
   Id int(11) DEFAULT NULL,
  mdate varchar(12) DEFAULT NULL,
  stadium varchar(100) DEFAULT NULL,
  team1 varchar(100) DEFAULT NULL,
  team2 varchar(100) DEFAULT NULL
)

 * mysql://root:***@localhost/Problem_set_07
0 rows affected.
0 rows affected.

[]

In [5]:
%%sql
desc game

 * mysql://root:***@localhost/Problem_set_07
5 rows affected.

[('Id', 'int', 'YES', '', None, ''),
 ('mdate', 'varchar(12)', 'YES', '', None, ''),
 ('stadium', 'varchar(100)', 'YES', '', None, ''),
 ('team1', 'varchar(100)', 'YES', '', None, ''),
 ('team2', 'varchar(100)', 'YES', '', None, '')]

In [6]:
%%sql
DROP TABLE IF EXISTS eteam;
CREATE TABLE eteam (
  Id varchar(3) DEFAULT NULL,
  teamname varchar(50) DEFAULT NULL,
  coach varchar(50) DEFAULT NULL
);

 * mysql://root:***@localhost/Problem_set_07
0 rows affected.
0 rows affected.

[]

In [7]:
%%sql
desc eteam;

 * mysql://root:***@localhost/Problem_set_07
3 rows affected.

[('Id', 'varchar(3)', 'YES', '', None, ''),
 ('teamname', 'varchar(50)', 'YES', '', None, ''),
 ('coach', 'varchar(50)', 'YES', '', None, '')]

In [8]:
%%sql
DROP TABLE IF EXISTS goal;
CREATE TABLE goal (
  matchid int(11) NOT NULL DEFAULT '0',
  teamid varchar(3) DEFAULT NULL,
  player varchar(100) DEFAULT NULL,
  gtime int(11) NOT NULL DEFAULT '0',
  PRIMARY KEY (matchid,gtime)
);

 * mysql://root:***@localhost/Problem_set_07
0 rows affected.
0 rows affected.

[]

In [9]:
%%sql
desc goal

 * mysql://root:***@localhost/Problem_set_07
4 rows affected.

[('matchid', 'int', 'NO', 'PRI', '0', ''),
 ('teamid', 'varchar(3)', 'YES', '', None, ''),
 ('player', 'varchar(100)', 'YES', '', None, ''),
 ('gtime', 'int', 'NO', 'PRI', '0', '')]

## Loading data to the table

In [10]:
%%sql
INSERT INTO game VALUES (1001,'8 June 2012','National Stadium, Warsaw','POL','GRE'),(1002,'8 June 2012','Stadion Miejski (Wroclaw)','RUS','CZE'),(1003,'12 June 2012','Stadion Miejski (Wroclaw)','GRE','CZE'),(1004,'12 June 2012','National Stadium, Warsaw','POL','RUS'),(1005,'16 June 2012','Stadion Miejski (Wroclaw)','CZE','POL'),(1006,'16 June 2012','National Stadium, Warsaw','GRE','RUS'),(1007,'9 June 2012','Metalist Stadium','NED','DEN'),(1008,'9 June 2012','Arena Lviv','GER','POR'),(1009,'13 June 2012','Arena Lviv','DEN','POR'),(1010,'13 June 2012','Metalist Stadium','NED','GER'),(1011,'17 June 2012','Metalist Stadium','POR','NED'),(1012,'17 June 2012','Arena Lviv','DEN','GER'),(1013,'10 June 2012','PGE Arena Gdansk','ESP','ITA'),(1014,'10 June 2012','Stadion Miejski (Poznan)','IRL','CRO'),(1015,'14 June 2012','Stadion Miejski (Poznan)','ITA','CRO'),(1016,'14 June 2012','PGE Arena Gdansk','ESP','IRL'),(1017,'18 June 2012','PGE Arena Gdansk','CRO','ESP'),(1018,'18 June 2012','Stadion Miejski (Poznan)','ITA','IRL'),(1019,'11 June 2012','Donbass Arena','FRA','ENG'),(1020,'11 June 2012','Olimpiyskiy National Sports Complex','UKR','SWE'),(1021,'15 June 2012','Donbass Arena','UKR','FRA'),(1022,'15 June 2012','Olimpiyskiy National Sports Complex','SWE','ENG'),(1023,'19 June 2012','Donbass Arena','ENG','UKR'),(1024,'19 June 2012','Olimpiyskiy National Sports Complex','SWE','FRA'),(1025,'21 June 2012','National Stadium, Warsaw','CZE','POR'),(1026,'22 June 2012','PGE Arena Gdansk','GER','GRE'),(1027,'23 June 2012','Donbass Arena','ESP','FRA'),(1028,'24 June 2012','Olimpiyskiy National Sports Complex','ENG','ITA'),(1029,'27 June 2012','Donbass Arena','POR','ESP'),(1030,'28 June 2012','National Stadium, Warsaw','GER','ITA'),(1031,'1 July 2012','Olimpiyskiy National Sports Complex','ESP','ITA ');

 * mysql://root:***@localhost/Problem_set_07
31 rows affected.

[]

In [11]:
%%sql
INSERT INTO eteam VALUES ('POL','Poland','Franciszek Smuda'),('RUS','Russia','Dick Advocaat'),('CZE','Czech Republic','Michal Bílek'),('GRE','Greece','Fernando Santos'),('NED','Netherlands','Bert van Marwijk'),('DEN','Denmark','Morten Olsen'),('GER','Germany','Joachim Löw'),('POR','Portugal','Paulo Bento'),('ESP','Spain','Vicente del Bosque'),('ITA','Italy','Cesare Prandelli'),('IRL','Republic of Ireland','Giovanni Trapattoni'),('CRO','Croatia','Slaven Bilic'),('UKR','Ukraine','Oleh Blokhin'),('SWE','Sweden','Erik Hamrén'),('ENG','England','Roy Hodgson'),('FRA','France','Laurent Blanc');

 * mysql://root:***@localhost/Problem_set_07
16 rows affected.

[]

In [12]:
%%sql
INSERT INTO goal VALUES (1001,'POL','Robert Lewandowski',17),(1001,'GRE','Dimitris Salpingidis',51),(1002,'RUS','Alan Dzagoev',15),(1002,'RUS','Alan Dzagoev',79),(1002,'RUS','Roman Shirokov',24),(1002,'RUS','Roman Pavlyuchenko',82),(1002,'CZE','Václav Pilar',52),(1003,'GRE','Theofanis Gekas',53),(1003,'CZE','Petr Jirácek',3),(1003,'CZE','Václav Pilar',6),(1004,'POL','Jakub Blaszczykowski',57),(1004,'RUS','Alan Dzagoev',37),(1005,'CZE','Petr Jirácek',72),(1006,'GRE','Giorgos Karagounis',45),(1007,'DEN','Michael Krohn-Dehli',24),(1008,'GER','Mario Gómez',72),(1009,'DEN','Nicklas Bendtner',41),(1009,'DEN','Nicklas Bendtner',80),(1009,'POR','Pepe (footballer born 1983)',24),(1009,'POR','Hélder Postiga',36),(1009,'POR','Silvestre Varela',87),(1010,'NED','Robin van Persie',73),(1010,'GER','Mario Gómez',24),(1010,'GER','Mario Gómez',38),(1011,'POR','Cristiano Ronaldo',28),(1011,'POR','Cristiano Ronaldo',74),(1011,'NED','Rafael van der Vaart',11),(1012,'DEN','Michael Krohn-Dehli',24),(1012,'GER','Lukas Podolski',19),(1012,'GER','Lars Bender',80),(1013,'ESP','Cesc Fàbregas',64),(1013,'ITA','Antonio Di Natale',61),(1014,'IRL','Sean St Ledger',19),(1014,'CRO','Mario Mandžukic',3),(1014,'CRO','Mario Mandžukic',49),(1014,'CRO','Nikica Jelavic',43),(1015,'ITA','Andrea Pirlo',39),(1015,'CRO','Mario Mandžukic',72),(1016,'ESP','Fernando Torres',4),(1016,'ESP','Fernando Torres',70),(1016,'ESP','David Silva',49),(1016,'ESP','Cesc Fàbregas',83),(1017,'ESP','Jesús Navas',88),(1018,'ITA','Antonio Cassano',35),(1018,'ITA','Mario Balotelli',90),(1019,'FRA','Samir Nasri',39),(1019,'ENG','Joleon Lescott',30),(1020,'UKR','Andriy Shevchenko',55),(1020,'UKR','Andriy Shevchenko',62),(1020,'SWE','Zlatan Ibrahimovic',52),(1021,'FRA','Jérémy Ménez',53),(1021,'FRA','Yohan Cabaye',56),(1022,'SWE','Glen Johnson (English footballer)',49),(1022,'SWE','Olof Mellberg',59),(1022,'ENG','Andy Carroll',23),(1022,'ENG','Theo Walcott',64),(1022,'ENG','Danny Welbeck',78),(1023,'ENG','Wayne Rooney',48),(1024,'SWE','Zlatan Ibrahimovic',54),(1024,'SWE','Sebastian Larsson',90),(1025,'POR','Cristiano Ronaldo',79),(1026,'GER','Philipp Lahm',39),(1026,'GER','Sami Khedira',61),(1026,'GER','Miroslav Klose',68),(1026,'GER','Marco Reus',74),(1026,'GRE','Georgios Samaras',55),(1026,'GRE','Dimitris Salpingidis',89),(1027,'ESP','Xabi Alonso',19),(1027,'ESP','Xabi Alonso',90),(1030,'GER','Mesut Özil',90),(1030,'ITA','Mario Balotelli',20),(1030,'ITA','Mario Balotelli',36),(1031,'ESP','David Silva',14),(1031,'ESP','Jordi Alba',41),(1031,'ESP','Fernando Torres',84),(1031,'ESP','Juan Mata',88);

 * mysql://root:***@localhost/Problem_set_07
76 rows affected.

[]

In [13]:
%%sql
SELECT * FROM game LIMIT 2;

 * mysql://root:***@localhost/Problem_set_07
2 rows affected.

[(1001, '8 June 2012', 'National Stadium, Warsaw', 'POL', 'GRE'),
 (1002, '8 June 2012', 'Stadion Miejski (Wroclaw)', 'RUS', 'CZE')]

In [14]:
%%sql
SELECT * FROM eteam LIMIT 2;

 * mysql://root:***@localhost/Problem_set_07
2 rows affected.

[('POL', 'Poland', 'Franciszek Smuda'), ('RUS', 'Russia', 'Dick Advocaat')]

In [15]:
%%sql
SELECT * FROM goal LIMIT 2;

 * mysql://root:***@localhost/Problem_set_07
2 rows affected.

[(1001, 'POL', 'Robert Lewandowski', 17),
 (1001, 'GRE', 'Dimitris Salpingidis', 51)]

### Problem 1: Show the matchid and player name for all goals scored by Germany

In [16]:
%%sql
SELECT matchid,player FROM goal 
  WHERE teamid='GER'

 * mysql://root:***@localhost/Problem_set_07
10 rows affected.

[(1008, 'Mario Gómez'),
 (1010, 'Mario Gómez'),
 (1010, 'Mario Gómez'),
 (1012, 'Lukas Podolski'),
 (1012, 'Lars Bender'),
 (1026, 'Philipp Lahm'),
 (1026, 'Sami Khedira'),
 (1026, 'Miroslav Klose'),
 (1026, 'Marco Reus'),
 (1030, 'Mesut Özil')]

### Problem 2: Lars Bender's scored a goal in game 1012. What teams were playing in that match?

In [17]:
%%sql
SELECT Id,stadium,team1,team2
FROM game
WHERE id=1012
LIMIT 1

 * mysql://root:***@localhost/Problem_set_07
1 rows affected.

[(1012, 'Arena Lviv', 'DEN', 'GER')]

### Problem 3:	Show the player, teamid, stadium and mdate for every German goal.

In [18]:
%%sql
SELECT player, teamid, stadium, mdate
FROM game JOIN goal ON game.Id=goal.matchid
WHERE teamid='GER'

 * mysql://root:***@localhost/Problem_set_07
10 rows affected.

[('Mario Gómez', 'GER', 'Arena Lviv', '9 June 2012'),
 ('Mario Gómez', 'GER', 'Metalist Stadium', '13 June 2012'),
 ('Mario Gómez', 'GER', 'Metalist Stadium', '13 June 2012'),
 ('Lukas Podolski', 'GER', 'Arena Lviv', '17 June 2012'),
 ('Lars Bender', 'GER', 'Arena Lviv', '17 June 2012'),
 ('Philipp Lahm', 'GER', 'PGE Arena Gdansk', '22 June 2012'),
 ('Sami Khedira', 'GER', 'PGE Arena Gdansk', '22 June 2012'),
 ('Miroslav Klose', 'GER', 'PGE Arena Gdansk', '22 June 2012'),
 ('Marco Reus', 'GER', 'PGE Arena Gdansk', '22 June 2012'),
 ('Mesut Özil', 'GER', 'National Stadium, Warsaw', '28 June 2012')]

### Problem 4:	Show the team1, team2 and player for every goal scored by a player called Mario

In [19]:
%%sql
SELECT team1,team2,player
FROM game JOIN goal ON game.Id=goal.matchid
WHERE player LIKE 'Mario%'

 * mysql://root:***@localhost/Problem_set_07
9 rows affected.

[('GER', 'POR', 'Mario Gómez'),
 ('NED', 'GER', 'Mario Gómez'),
 ('NED', 'GER', 'Mario Gómez'),
 ('IRL', 'CRO', 'Mario Mandžukic'),
 ('IRL', 'CRO', 'Mario Mandžukic'),
 ('ITA', 'CRO', 'Mario Mandžukic'),
 ('ITA', 'IRL', 'Mario Balotelli'),
 ('GER', 'ITA', 'Mario Balotelli'),
 ('GER', 'ITA', 'Mario Balotelli')]

### Problem 5:	Show player, teamid, coach, gtime for all goals scored in the first 10 minutes

In [20]:
%%sql
SELECT player, teamid,coach, gtime
FROM goal JOIN eteam ON goal.teamid=eteam.id
WHERE gtime<=10

 * mysql://root:***@localhost/Problem_set_07
4 rows affected.

[('Petr Jirácek', 'CZE', 'Michal Bílek', 3),
 ('Václav Pilar', 'CZE', 'Michal Bílek', 6),
 ('Mario Mandžukic', 'CRO', 'Slaven Bilic', 3),
 ('Fernando Torres', 'ESP', 'Vicente del Bosque', 4)]

### Problem 6:	List the dates of the matches and the name of the team in which 'Fernando Santos' was the team1 coach.

In [21]:
%%sql
SELECT mdate,teamname
FROM game JOIN eteam ON game.team1=eteam.id
WHERE coach='Fernando Santos'

 * mysql://root:***@localhost/Problem_set_07
2 rows affected.

[('12 June 2012', 'Greece'), ('16 June 2012', 'Greece')]

### Problem 7: List the player for every goal scored in a game where the stadium was 'National Stadium, Warsaw'

In [22]:
%%sql
SELECT player
FROM game JOIN goal ON game.id=goal.matchid
WHERE stadium='National Stadium, Warsaw'

 * mysql://root:***@localhost/Problem_set_07
9 rows affected.

[('Robert Lewandowski',),
 ('Dimitris Salpingidis',),
 ('Alan Dzagoev',),
 ('Jakub Blaszczykowski',),
 ('Giorgos Karagounis',),
 ('Cristiano Ronaldo',),
 ('Mario Balotelli',),
 ('Mario Balotelli',),
 ('Mesut Özil',)]

### Problem 8:	Show the name of all players who scored a goal against Germany.

In [24]:
%%sql
SELECT DISTINCT(player)
  FROM game JOIN goal ON matchid =Id
    WHERE (team1='GER' OR team2='GER') AND teamid!='GER'

 * mysql://root:***@localhost/Problem_set_07
5 rows affected.

[('Robin van Persie',),
 ('Michael Krohn-Dehli',),
 ('Georgios Samaras',),
 ('Dimitris Salpingidis',),
 ('Mario Balotelli',)]

### Problem 9: Show teamname and the total number of goals scored.

In [26]:
%%sql
SELECT teamname,COUNT(gtime) as "Number of Goals"
FROM eteam JOIN goal ON eteam.id=goal.teamid
GROUP BY teamname
ORDER BY teamname

 * mysql://root:***@localhost/Problem_set_07
16 rows affected.

[('Croatia', 4),
 ('Czech Republic', 4),
 ('Denmark', 4),
 ('England', 5),
 ('France', 3),
 ('Germany', 10),
 ('Greece', 5),
 ('Italy', 6),
 ('Netherlands', 2),
 ('Poland', 2),
 ('Portugal', 6),
 ('Republic of Ireland', 1),
 ('Russia', 5),
 ('Spain', 12),
 ('Sweden', 5),
 ('Ukraine', 2)]

### Problem 10:	Show the stadium and the number of goals scored in each stadium.

In [29]:
%%sql
SELECT stadium,COUNT(gtime) AS "Number of Goals"
FROM game JOIN goal ON game.id=goal.matchid
GROUP BY stadium
ORDER BY stadium

 * mysql://root:***@localhost/Problem_set_07
8 rows affected.

[('Arena Lviv', 9),
 ('Donbass Arena', 7),
 ('Metalist Stadium', 7),
 ('National Stadium, Warsaw', 9),
 ('Olimpiyskiy National Sports Complex', 14),
 ('PGE Arena Gdansk', 13),
 ('Stadion Miejski (Poznan)', 8),
 ('Stadion Miejski (Wroclaw)', 9)]

### Problem 11: For every match involving 'POL', show the matchid, date and the number of goals scored.

In [30]:
%%sql
SELECT matchid,mdate,COUNT(gtime) AS 'Number of Goals'
FROM game JOIN goal ON matchid = id 
WHERE (team1 = 'POL' OR team2 = 'POL')
GROUP BY matchid,mdate

 * mysql://root:***@localhost/Problem_set_07
3 rows affected.

[(1001, '8 June 2012', 2),
 (1004, '12 June 2012', 2),
 (1005, '16 June 2012', 1)]

### Problem 12: For every match where 'GER' scored, show matchid, match date and the number of goals scored by 'GER'

In [31]:
%%sql
SELECT matchid,mdate,COUNT(gtime) AS 'Number of Goals'
FROM game JOIN goal ON matchid = id 
WHERE teamid='GER'
GROUP BY matchid,mdate

 * mysql://root:***@localhost/Problem_set_07
5 rows affected.

[(1008, '9 June 2012', 1),
 (1010, '13 June 2012', 2),
 (1012, '17 June 2012', 2),
 (1026, '22 June 2012', 4),
 (1030, '28 June 2012', 1)]

### Problem 13:  List every match with the goals scored by each team as shown

![Cat](dataset/Question_2.png)
### Sort your result by mdate, matchid, team1 and team2.

In [35]:
%%sql
SELECT mdate,team1,
SUM(CASE
   WHEN teamid=team1 THEN 1 ELSE 0
END) AS score1,team2,
SUM(CASE
   WHEN teamid=team2 THEN 1 ELSE 0
END) AS score2
FROM game JOIN goal ON matchid = id
GROUP BY mdate,matchid,team1,team2
ORDER BY mdate,matchid,team1,team2

 * mysql://root:***@localhost/Problem_set_07
29 rows affected.

[('1 July 2012', 'ESP', Decimal('4'), 'ITA ', Decimal('0')),
 ('10 June 2012', 'ESP', Decimal('1'), 'ITA', Decimal('1')),
 ('10 June 2012', 'IRL', Decimal('1'), 'CRO', Decimal('3')),
 ('11 June 2012', 'FRA', Decimal('1'), 'ENG', Decimal('1')),
 ('11 June 2012', 'UKR', Decimal('2'), 'SWE', Decimal('1')),
 ('12 June 2012', 'GRE', Decimal('1'), 'CZE', Decimal('2')),
 ('12 June 2012', 'POL', Decimal('1'), 'RUS', Decimal('1')),
 ('13 June 2012', 'DEN', Decimal('2'), 'POR', Decimal('3')),
 ('13 June 2012', 'NED', Decimal('1'), 'GER', Decimal('2')),
 ('14 June 2012', 'ITA', Decimal('1'), 'CRO', Decimal('1')),
 ('14 June 2012', 'ESP', Decimal('4'), 'IRL', Decimal('0')),
 ('15 June 2012', 'UKR', Decimal('0'), 'FRA', Decimal('2')),
 ('15 June 2012', 'SWE', Decimal('2'), 'ENG', Decimal('3')),
 ('16 June 2012', 'CZE', Decimal('1'), 'POL', Decimal('0')),
 ('16 June 2012', 'GRE', Decimal('1'), 'RUS', Decimal('0')),
 ('17 June 2012', 'POR', Decimal('2'), 'NED', Decimal('1')),
 ('17 June 2012', 'DEN', Decimal('1'), 'GER', Decimal('2')),
 ('18 June 2012', 'CRO', Decimal('0'), 'ESP', Decimal('1')),
 ('18 June 2012', 'ITA', Decimal('2'), 'IRL', Decimal('0')),
 ('19 June 2012', 'ENG', Decimal('1'), 'UKR', Decimal('0')),
 ('19 June 2012', 'SWE', Decimal('2'), 'FRA', Decimal('0')),
 ('21 June 2012', 'CZE', Decimal('0'), 'POR', Decimal('1')),
 ('22 June 2012', 'GER', Decimal('4'), 'GRE', Decimal('2')),
 ('23 June 2012', 'ESP', Decimal('2'), 'FRA', Decimal('0')),
 ('28 June 2012', 'GER', Decimal('1'), 'ITA', Decimal('2')),
 ('8 June 2012', 'POL', Decimal('1'), 'GRE', Decimal('1')),
 ('8 June 2012', 'RUS', Decimal('4'), 'CZE', Decimal('1')),
 ('9 June 2012', 'NED', Decimal('0'), 'DEN', Decimal('1')),
 ('9 June 2012', 'GER', Decimal('1'), 'POR', Decimal('0'))]